@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-meter-bar {
  background-color: transparent;
  border-radius: 0;
  border-color: #fff;
}
::-webkit-meter-optimum-value {
  background-color: #fff;
}

.paused,.stopped{display: none;}.playing{display: flex;}
